@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Hachi+Maru+Pop&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 16px;
    color: bisque;
}
.box-container{
    width: 700px;
    height: 650px;
    border: 2px solid red;
    background-color: aquamarine;
    margin: auto auto;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    /* text-align: center; */
    color: aliceblue;
    font-size: 25px;
    /* padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 220px; */
    /* padding: 70px 0px 0px 70px; T R B L */
    padding: 70px 65px; /*Yaxis Xaxis*/
    box-sizing: border-box;
}
.box-1{
    border: 2px solid #0f1313;
    background-color: rgb(132, 0, 255);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
}
.box-2{
    border: 2px solid #b30036;
    background-color: rgb(179, 255, 0);
    margin: auto auto;
}
.box-3{
    border: 2px solid #0021b3;
    background-color: rgb(255, 81, 0);
    /* margin: 10px 100px 10px 10px; */
    margin: 20px 20px;
}
.box-test{
    width: 300px;
    height: 300px;
    border: 2px solid brown;
    margin: auto auto;
}
.text-test{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto auto;
    text-decoration: line-through;
    text-transform: uppercase;
    text-shadow: 3px 3px #b30036;
    border: 2px solid blue;
    float: right;
}
.btn{
    color: #ffffff;
    height: 40px;
    width: 180px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.btn-red{
    border: 1px solid red;
    background-color: #b30036;
}
.btn-blue{
    border: 1px solid rgb(0, 174, 255);
    background-color: #0300b3;
}
.btn-lg{
    height: 80px;
    width: 240px;
    padding-top: 20px;
}
.btn-sm{
    height: 30px;
    width: 140px;
}