@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Hachi+Maru+Pop&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navigation{
    position: sticky;
    top: 1px;
}
#navigation, #footer{
    background-color: rgb(13, 118, 160);
    padding: 12px;
}
#footer .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar-logo{
    margin: 8px 20px;
    color: rgb(224, 247, 17);
    font-size: 22px;
    font-weight: bold;
}
.navbar-menu{
    display: flex;
    list-style: none;
}
.navbar-menu li{
    margin: 10px;
}
.navbar-menu li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
.navbar-menu li a:hover{
    background-color: rgb(107, 191, 224);
    padding: 8px;
    border-radius: 10px;
}
.banner-img{
    background: no-repeat url('../../img1.jpg');
    height: 70vh;
    width: 100vw;
    background-size: cover;
}
.banner{
    position: relative;
    color: rgb(224, 247, 17);
    text-transform: uppercase;
}
.banner h1{
    position: absolute;
    top: 50%;
    left: 36%;
    font-size: 50px;
    line-height: 20px;
    letter-spacing: 3px;
}
.banner h2{
    position: absolute;
    top: 56%;
    left: 42%;
    font-size: 40px;
    letter-spacing: 3px;
}
.about-layout{
    display: flex;
}
.about-layout img, .about-layout p{
    padding: 12px;
}
.section-heading{
    text-align: center;
    padding: 20px;
}
.services-layout, .teams-layout{
    display: flex;
    justify-content: space-evenly;
}
.card{
    height: 395px;
    width: 300px;
    border: 1px solid #cecece;
    box-shadow: 7px 7px 10px #e9e8e8;
}
.card:hover{
    scale: 1.1;
}
.card-image{
    width: 300px;
    height: 180px;
}
.card-content{
    padding: 5px;
}
.card-content-list{
    margin-top: 10px;
    margin-left: 20px;
}

.card-team-member{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    border: 2px solid #cecece;
    box-shadow: 10px 10px 10px rgb(224, 214, 214);
}
.card-team-member:hover{
    scale: 1.1;
}
.card-team-member img{
    margin-left: 8px;
}
.card-content-team-member{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-team-image{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.inputbox{
    width: 40vw;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#email{
    margin-left: 5px;
}
.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: rgb(13, 118, 160);
    border: none;
    padding: 8px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 20px;
    width: 20vw;
}
.btn:hover{
    background-color: rgb(107, 191, 224);
}
.contact-layout textarea{
    margin-left: 48px;
}
.contact-layout .btn{
    margin-left: 185px;
}